<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prototype Cleave Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Use a local copy of bootstrap css instead of downloading from a CDN -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    label {
        text-align: right;
        clear: both;
        float:left;
        margin-right:15px;
  }
  </style>

</head>
<body>

<div class="container">

  {% if err_msg %}
    <h4 style="background-color:red;">{{err_msg}}<h4>
  {% endif %}

  <h1>Prototype Cleave Tool</h1>
  
  <hr>
  
  <h4>Volume Details</h4>
  
  <table class="table table-striped">
  <tr>
    <td>Grayscale: </td>
    <td>{{ volume_details.grayscale_id }}</td>
  </tr>
  <tr>
    <td>Supervoxels: </td>
    <td>{{ volume_details.base_segmentation_id }}</td>
  </tr>
  <tr>
    <td>Graph: </td>
    <td>{{ volume_details.graph_id }}</td>
  </tr>
  </table>
  
  <hr>

  <h4>Initialize a Viewer</h4>

  <form action="create-split-viewer" method="post" enctype="multipart/form-data" style="display: inline;">
  <div class="settings">
    <label for="body_id">1. Body ID:</label>
    <input type="text" name="body_id"><br><br>
    
    <label for="seeds_file">2. Initial Seeds (optional):</label>
    <input type="file" name="seeds_file" value="Select...">
    <br>
    <input type="submit" value="Create Cleave Viewer">
  </div>
  </form>

  <hr>

  <table class="table table-striped">
    <thead>
      <tr>
        {% for column_name in column_names %}
          <th>{{column_name}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for row in rows %}
        <tr>
          <td class="text-nowrap"><a href="{{row.viewer_url}}" target="_blank">{{ row.body_id }}</a></td>
          <td class="text-nowrap"><a href="{{row.initial_seeds_url}}" target="_blank">{{ row.initial_seeds_name }}</a></td>
          <td class="text-nowrap"><a href="{{row.current_seeds_url}}" download="{{row.current_seeds_filename}}">Download...</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
